.navbar {
    width: 100px;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0 ,0 ,0 .1);
} 
.navbar .container {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar-menu li {
    display: inline-block;

}

.navbar-menu li a {
    display: inline-block;

}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}
.callback {
    margin-left: 30px;
}